@charset "UTF-8";

/**
 * @author Prénom Nom courriel
 *
 * TABLE DES MATIERES
 * Normalize
 * Utilitaires
 * Charte typographique
 * Grille
 * Mise en page
 *** entête
 *** main
 *** formulaire
 *** interactivité
 *** footer
 */


/* Normalize
   ========================================================================== */
   @import url(_normalize.css);

/* Utilitaires
   ========================================================================== */
   @import url(_utilitaires.css);

/* Charte typographique
   ========================================================================== */
 


/* Grille
   ========================================================================== */
   @import url(_grille.css);
 

/* Mise en page
   ========================================================================== */

/* entête */

/* main */
main{
   margin: 10px;
}
h1{
   width: 100%;
}
/* formulaire */

fieldset{
   background-color: #ECECEC;
   border-radius: 20px;
   width: 100%;
}



[type=radio]:hover+label { 
   cursor: pointer;
}
[type=radio]:hover+label,
[type=radio]:focus+label { 
   border:4px solid black;
}
[type=radio]:checked+label { 
   border: 4px solid black;
}
