@charset "UTF-8";

/**
 * @author Prénom Nom courriel
 *
 * TABLE DES MATIERES
 * Normalize
 * Utilitaires
 * Charte typographique
 * Grille
 * Mise en page
 *** entête
 *** main
 *** formulaire
 *** interactivité
 *** footer
 */


/* Normalize
   ========================================================================== */
   @import url(_normalize.css);

/* Utilitaires
   ========================================================================== */
   @import url(_utilitaires.css);

/* Charte typographique
   ========================================================================== */
 


/* Grille
   ========================================================================== */
   @import url(_grille.css);
 

/* Mise en page
   ========================================================================== */

/* entête */
figure{
   margin:0px;
   }

@media (min-width:600px){
figure{
   margin:0px;
   }
}

body {
      background: linear-gradient(#92C8B7, #F1FBE5);
    }


   header{
      background-color: white;
   }
  

h1{
   width: 100%;
   padding-top: 30px;
}


/*main*/

main{
 background-color:white;

}
.intro{
   margin: white;
}
@media(min-width:601px){
   .intro{
      flex-direction: column;
      align-items: stretch;
   }
}

.conteneur__rangee{
   background-color: white;
}


/* formulaire */

fieldset{
   background-color: #ECECEC;
   border-radius: 2rem;
   width: 100%;
   padding-top: 30px;
}

l


.ctnReglement{
   margin: 20px;
}

.documentation{
    margin: 20px;
   }

button{
   background-color:#B8DEC3;
   border-radius: 10px;
   padding: 10px;
   margin: 20px;
}

button:hover{
   border: red;
}



/**question du jour**/
/*disposition en rangée des images*/
.rangee{
   list-style: none;
}

@media(min-width:600px){
.conteneurQuestion{
   display: flex;
   flex-basis: 1 0 auto;
   flex-wrap: wrap;
   list-style-type: disc;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   padding-inline-start: 40px;

   }
}

.nom-complet{
   justify-content: flex-start;
}
@media(min-width:600px){
.rangee{
   list-style: none;
   display: flex;
   justify-content: flex-start;
   align-items: stretch;
   flex-wrap: wrap;
   }
}

label{
   /* placer les étiquettes au-dessus des champs de saisie */
   display: block;
}
input[type=radio]+label {
   display: inline-block;  
   text-align: center;
   border:2px solid transparent;
}
/*** Interactivité ***/
[type=radio]:hover+label { 
   cursor: pointer;
}
[type=radio]:hover+label,
[type=radio]:focus+label { 
   border:2px solid #09c231;
}
[type=radio]:checked+label { 
   border:2px solid #068221;
}
.erreur{
   color: red;
}
.screen-reader-only, .visuallyhidden {
   border: 0;
   clip: rect(0 0 0 0);
   height: 1px;
   margin: -1px;
   overflow: hidden;
   padding: 0;
   position: absolute;
   width: 1px;
}

/*footer*/
footer{
   text-align: center;
}